<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Student Questionnaires</title>
        <link type="text/css" href="app/css/style.css" rel="stylesheet"/>
		<link type="text/css" href="app/css/bootstrap.css" rel="stylesheet"/>

    </head>

    <body>

        <div id="container">
			<section>
				<h2>D3.js, Backbone.js - Demo</h2>
				<p>
					Demo of retrieving data from an API and displaying data in a meaningful manner. <br/>
					<br/>
					The data set represents a series of multi-choice questionnaires taken by students for tasks assigned by various college courses.
				</p>
			</section>

			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-target="#collapse1" data-toggle="collapse" data-parent="#accordion" href="#questionnaires"> Questionnaire Statistics </a>
						</h4>
					</div>

					<div id="collapse1" class="panel-collapse collapse">
						<div id="task_1" class="panel-body">
							<article id="task_1_content">
								<table class="table table-striped" >
									<thead>
									<tr>
										<th>Task ID (Lecture)</th>
										<th>Number of Questionnaires</th>
										<th>Average Duration</th>
										<th>Average Intrusiveness</th>
									</tr>
									</thead>
									<tbody id="task_1_table_body">
									</tbody>
									<tr id="avg_values"></tr>
									<tr id="std_dev_values"></tr>
								</table>

								<table class="table table-striped" id="avg_table">
									<tbody id="avg_table_body">
									</tbody>
								</table>

							</article>
						</div>

					</div>


				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-target="#collapse2" href="#nationalities" data-toggle="collapse" data-parent="#accordion"> Breakdown of Student Nationalities </a>
						</h4>
					</div>

					<div id="collapse2" class="panel-collapse collapse">
						<section id="task_2" class="panel-body">
							<article id="task_2_content">
								<div id="donut_window"></div>
								<div id="legend_window"><div id="legend_list"></div></div>
							</article>
						</section>
					</div>


				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-target="#collapse3" href="#questionnairesPerStudent" data-toggle="collapse" data-parent="#accordion">  Number of Questionnaires answered by Student ID </a>
						</h4>
					</div>

					<div id="collapse3" class="panel-collapse collapse">
						<section id="task_3" class="panel-body">
							<article id="task_3_content"> </article>
						</section>
					</div>


				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-target="#collapse4" href="#tasksOfACourse" data-toggle="collapse" data-parent="#accordion"> Tasks & Duration per Course </a>
						</h4>
					</div>

					<div id="collapse4" class="panel-collapse collapse">
						<section id="task_4" class="panel-body">
							<article id="task_4_content">
								<div id="task_4_legend"></div>
								<div id="task_4_window"></div>
							</article>
						</section>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-target="#collapse5" href="#questionnairesOfATask" data-toggle="collapse" data-parent="#accordion"> Number of Questionnaires answered per task </a>
						</h4>
					</div>

					<div id="collapse5" class="panel-collapse collapse">
						<section id="task_5" class="panel-body">
							<article id="task_5_content"> </article>
						</section>
					</div>
				</div>

			</div>
			<!--Links to W3C validation-->
		<footer>
			<hr/>
			<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://lucalongo.eu/courses/2014-2015/RichWebApplicationTechnology/students/C11733511/finalproject/app/css/style.css">
			<img src="images/css_validated.png" alt="css validator"/></a>

			<a href="http://validator.w3.org/check?uri=http://lucalongo.eu/courses/2014-2015/RichWebApplicationTechnology/students/C11733511/finalproject/index.html">
				<img src="images/html5_validated.png" alt="html5 validator"/></a>
		</footer>

        </div>


        <!-- Templates -->
		<script type="text/template" id="nationalitiesListItemTemplate"><div><%= country %></div></script>
        <script type="text/template" id="bubbleListItemTemplate"><div><%= description %></div></script>

		<script type="text/template" id="questionnaires-averages-template">
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td>Avg: <%=  avg_rmse %></td>
				<td>Avg: <%=  avg_mwl %></td>
				<td> - </td>
				<td>Avg: <%=  avg_questionnaire_value %></td>
				<td>Avg: <%=  avg_duration %></td>
				<td>Avg: <%=  avg_intrusiveness %></td>
        </script>

		<script type="text/template" id="questionnaires-dev-template">
				<td> - </td>
				<td> - </td>
				<td> - </td>
				<td>Dev: <%= std_rmse %></td>
				<td>Dev: <%= std_mwl %></td>
				<td> - </td>
				<td>Dev: <%= std_questionnaire_value %></td>
				<td>Dev: <%= std_duration %></td>
				<td>Dev: <%= std_intrusiveness %></td>
        </script>

        <script type="text/template" id="questionnaires-list-template" >
							<td><%= task_number %></td>
							<td><%= num_questionnaires %></td>
							<td><%= average_duration %></td>
							<td><%= average_intrusiveness %></td>
        </script>

        <!-- JavaScript -->
        <script src="libs/jquery-3.0.0.js"></script>
		<script src="libs/jquery-2.2.3.js"></script>
        <script src="libs/bootstrap.js"></script>
        <script src="libs/d3.js"></script>
        <script src="libs/underscore.js"></script>
        <script src="libs/backbone.js"></script>
        <script src="app/js/donut.js"></script>
        <script src="app/js/Models/Init.js"></script>
        <script src="app/js/Models/ModelQuestionnaires.js"></script>
        <script src="app/js/Models/ModelStudents.js"></script>
        <script src="app/js/Models/ModelTasks.js"></script>
        <script src="app/js/Models/ModelCourses.js"></script>
        <script src="app/js/Views/ViewTable.js"></script>
        <script src="app/js/Views/ViewDonut.js"></script>
        <script src="app/js/Views/ViewBarChart.js"></script>
        <script src="app/js/Views/ViewHeirarchical.js"></script>
        <script src="app/js/Views/ViewBubbles.js"></script>
        <script src="app/js/Router/Router.js"></script>
        <script src="app/js/main.js"></script>
        <script src="app/js/utils.js"></script>
    <!--</body>-->
</html>