html 
{
    overflow-y: scroll; 
}


footer{
	height: 100px;
	width: 80%;
	text-align: center;
	position: absolute;
	bottom: 0;
}

#task_1_content
{
	max-height : 500px;
	overflow-y: scroll;
	position: relative;
}

#container
{
	width: 80%;
	margin: 20px auto;
}

#task_2_content
{
	max-height : 600px;
	position: relative;
	overflow-y: scroll;
	padding-top: 30px;
}

#task_3_content {
	max-height : 500px;
	overflow-y: scroll;
	position: relative;
	padding-bottom: 10px;
}

#task_4_content {
	position: relative;
	padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

#task_4_legend{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    padding: 3%;
}

#task_4_window{
    display: flex;
    align-items: center;
    flex-grow: 2;
    flex-direction: column;
}

#task_5_content {
	max-height : 500px;
	overflow-y: scroll;
	position: relative;
	padding-bottom: 10px;
}

#task_5 text {
    font: 10px sans-serif;
}

#task_5 rect.background {
    fill: white;
}

path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#donut_window
{
	position: relative;
	display: inline-block;
	height: 100%;
	font-weight: bold;
	text-align: center;
}

#legend_window
{	
	position: absolute;
	display: inline-block;
	height: 100%;
	font-weight: bold;
}


.bar {
  fill: steelblue;
  margin: .1px;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}





